{{#each orders}}
<div class="weui-form-preview" id='{{order_id}}'>
  <div class="weui-form-preview__hd">
    <label class="weui-form-preview__label">{{store_name}}</label>
    <em class="weui-form-preview__value">{{order_platform}}--{{order_index}}</em>
  </div>
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">客户姓名</label>
      <span class="weui-form-preview__value">{{user_name}}</span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">联系电话</label>
      <span class="weui-form-preview__value" ><a href='/phoneorder/{{phone}}/0'>{{phone}}</a></span>
    </div>
   <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">下单时间</label>
      <span class="weui-form-preview__value">{{order_time}}</span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">客户地址</label>
      <span class="weui-form-preview__value"><a uriPri="http://apis.map.qq.com/uri/v1/routeplan?type=drive" toOrder="&to={{addr}}&tocoord={{lat}},{{lng}}" onclick='openLocation(this)'>{{addr}}</a></span>
    </div>
    {{#if post_user_name}}
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">配送人</label>
      <span class="weui-form-preview__value">{{post_user_name}}{{#if_eq post_status 1}}(正在配送){{/if_eq}}{{#if_eq post_status 3}}(取消配送){{/if_eq}}</a></span>
    </div>
    {{/if}}

    {{#if recycle_user_name}}
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">回收人</label>
      <span class="weui-form-preview__value">{{recycle_user_name}}{{#if_eq recycle_status 1}}(正在回收){{/if_eq}}{{#if_eq recycle_status 3}}(取消回收){{/if_eq}}</a></span>
    </div>
    {{/if}}

    {{#if comment}}
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">备注</label>
      <span class="weui-form-preview__value">{{comment}}</span>
    </div>
    {{/if}}

  </div>
  <div class="weui-form-preview__ft">
    <a class="weui-form-preview__btn weui-form-preview__btn_default" onclick="EditComment('{{order_id}}', '{{lat}}', '{{lng}}')">备注</a>
    {{#if_eq current_status 1}}
    <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" onclick="applySend(this, '{{order_id}}')">我送</button>
    {{/if_eq}}

    {{#if_eq current_status 3}}
    <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" onclick="applyNoRecycle(this, '{{addr}}', '{{order_id}}')">无需回收</button>
    <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" onclick="applyRecycle(this, '{{order_id}}')">我收</button>
    {{/if_eq}}
  </div>
</div>
<br>
{{/each}}
<br>
<br>
<br>
<br>
