<style type="text/css">
body  {
  font-family:Arial,Helvetica,sans-serif;
  font-size: 10px;
  vertical-align:middle;
  font-weight:normal
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 10px/100% 'Microsoft yahei',Arial, Helvetica, sans-serif;
  padding: .3em 1em .40em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.blue {
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.green {
  color: #e8f0de;
  border: solid 1px #538312;
  background: #64991e;
  background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
  background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.red {
  color: #faddde;
  border: solid 1px #980c10;
  background: #d81b21;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317)); 
  background: -moz-linear-gradient(top, #ed1c24, #aa1317); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317'); 
}
</style>

<div class="row-fluid">
  <div class="box">
    <div class="controls" style="float:left;margin-left:30px;">
      From: <input type="text" class="input-xlarge datepicker" id="date01" name="date_bgn" value="" />
      To: <input type="text" class="input-xlarge datepicker" id="date02"   name="date_end" value="" />
      <button id='query_order' type="submit" class="btn btn-primary">查询</button>
    </div>
  </div>
</div>

<br>
<span>总出菜品: {{items_len}}</span>
<span>菜品数量: {{dish_count}}</span>
<br>
<br>
<div class="row-fluid">
  <div class="box span12">
    <div class="box-header">
      <h2><i class="icon-align-justify"></i><span class="break"></span>所有订单</h2>
      <div class="box-icon">
        <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
        <a href="#" class="btn-close"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="box-content">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>日期</th>
            <th>菜品</th>
            <th>数量</th>
            <th>销售额</th>
          </tr>
        </thead>
        <tbody>
          {{#each items}}
          <tr>
            <td class="center">{{date_str}}</td>
            <td class="center">{{dish_name}}</td>
            <td class="center">{{num}}</td>
            <td class="center" width="50px;"> {{dish_amount}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div><!--/span-->
</div><!--/row-->

<br>
<span>累积菜品: {{group_items_len}}</span>
<br>
<br>
<div class="row-fluid">
  <div class="box span12">
    <div class="box-header">
      <h2><i class="icon-align-justify"></i><span class="break"></span>所有订单</h2>
      <div class="box-icon">
        <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
        <a href="#" class="btn-close"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="box-content">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>菜品</th>
            <th>数量</th>
            <th>销售额</th>
          </tr>
        </thead>
        <tbody>
          {{#each group_items}}
          <tr>
            <td class="center">{{dish_name}}</td>
            <td class="center">{{num}}</td>
            <td class="center" width="50px;"> {{dish_amount}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div><!--/span-->
</div><!--/row-->

<script type="text/javascript">

$('#query_order').click(function(){
  var url = "/dish_info/";

  var d1 = $('#date01').val();
  var d2 = $('#date02').val();
  if( d1 == "" && d2 == "" ) {
  var d = new Date();
  var mon = (d.getMonth()+1);
  if( mon < 10 ) {
  mon = "0" + mon;
  }
  var bdate = d.getFullYear() + '-' + mon + '-' + d.getDate();
  var edate = bdate;
  url += bdate + "/" + edate;
  } else {
  if( d1 < d2 ) {
  var bdate = "";
  var edate = "";
  var myarr1 = d1.split("/");
  bdate = myarr1[2] + "-" + myarr1[0] + "-" + myarr1[1]; 
  var myarr2 = d2.split("/");
  edate = myarr2[2] + "-" + myarr2[0] + "-" + myarr2[1];
  url += bdate + "/" + edate;
  } else {
    var bdate = "";
    var myarr1 = d1.split("/");
    bdate = myarr1[2] + "-" + myarr1[0] + "-" + myarr1[1]; 
    var edate = bdate;
    url += bdate + "/" + edate;
  }
  }
  window.location.href = url;
});


$(function () {
  var bdate = "{{bdate}}";
  var edate = "{{edate}}";
  $('#date01').val(bdate);
  $('#date02').val(edate);
  });


</script>
