    <style type="text/css">
      #container{
        min-width:600px;
        min-height:767px;
      }
    </style>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&libraries=convertor"></script>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&libraries=convertor"></script>
    <script type='text/javascript' src='/javascripts/jquery/jquery-1.12.0.min.js'></script>
    <script>
      function getLocation(){
        //判断是否支持 获取本地位置
        if (navigator.geolocation)
        {
          navigator.geolocation.getCurrentPosition(showPosition);
        }
        else{x.innerHTML="浏览器不支持定位.";}
      }

      function showPosition(position)
      {
        var lat=position.coords.latitude;
        var lng=position.coords.longitude;
        lat = 22.618505;
        lng = 113.860135;

        // lat = 22.5916721;
        // lng = 113.8710477;
        //调用地图命名空间中的转换接口   type的可选值为 1:gps经纬度，2:搜狗经纬度，3:百度经纬度，4:mapbar经纬度，5:google经纬度，6:搜狗墨卡托
        qq.maps.convertor.translate(new qq.maps.LatLng(lat,lng), 1, function(res){
          //取出经纬度并且赋值
          latlng = res[0];
          var map = new qq.maps.Map(document.getElementById("container"),{
            center:  latlng,
            zoom: 15
          });
          //设置marker标记
          var marker = new qq.maps.Marker({
            map : map,
            position : latlng
          });
        });
      }
      function showPositionDirect(date_str) {
        var lat=22.618505;
        var lng=113.860135;
        //调用地图命名空间中的转换接口   type的可选值为 1:gps经纬度，2:搜狗经纬度，3:百度经纬度，4:mapbar经纬度，5:google经纬度，6:搜狗墨卡托
        $.getJSON('/user_position', function(resp, status) {
          var pos_arr = [];
          for (index in resp) {
            pos_arr.push(resp[index]);
          }

          var count_index = 0;
          var map;
          pos_arr.forEach(function(pos_info) {
            var lat = pos_info.lat, lng=pos_info.lng;
            alert(lat + " " + lng);
            qq.maps.convertor.translate(new qq.maps.LatLng(pos_info.lat,pos_info.lng), 1, function(res) {
              //取出经纬度并且赋值
              latlng = res[0];
              if (count_index++ == 0) {
                map = new qq.maps.Map(document.getElementById("container"),{
                  center:  latlng,
                  zoom: 13
                });
              }
              //设置marker标记
              var marker = new qq.maps.Marker({
                title: pos_info.name,
                map : map,
                position : latlng
              });
            });
          });
          });


          // 拉取订单位置
          $.getJSON("/order_position/"+date_str, function(resp, status) {
            var count_index = 0;
            resp.forEach(function(pos_info) {
              var lat = pos_info.lat / 1000000, lng=pos_info.lng / 1000000;
              var gps_kind = 1;
              if (pos_info.order_platform == "meituan") {
                qq.maps.convertor.translate(new qq.maps.LatLng(lat, lng), 1, function(res) {
                  //取出经纬度并且赋值
                  latlng = res[0];
                  if (count_index++ == 0) {
                    map = new qq.maps.Map(document.getElementById("container"),{
                      center:  latlng,
                      zoom: 13
                    });
                  }
                  /*var label = new qq.maps.Label({
                    position: latlng,
                    map: map,
                    content:pos_info.order_platform + pos_info.order_index
                  });*/
                  //设置marker标记
                  var marker = new qq.maps.Marker({
                    title: pos_info.addr,
                    map : map,
                    position : latlng
                  });
                  })
                  } else {
                  var latlng = new qq.maps.LatLng(lat, lng);
                  if (count_index++ == 0) {
                    map = new qq.maps.Map(document.getElementById("container"),{
                      center:  latlng,
                      zoom: 13
                    });
                  }
                  //设置marker标记
                  var marker = new qq.maps.Marker({
                    title: pos_info.addr,
                    map : map,
                    position : latlng
                  });
                }
              });
            });
          }
          showPositionDirect();
        </script>

      </head>
        <div id="container"></div>
      </body>
    </html>

    <div class="row-fluid">
      <div class="box span12">
        <div class="box-header">
          <h2><i class="icon-align-justify"></i><span class="break"></span>{{map_title}}</h2>
          <div class="box-icon">
            <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
            <a href="#" class="btn-close"><i class="icon-remove"></i></a>
          </div>
        </div>
        <div class="box-conatent" id="container">
        </div>
      </div><!--/span-->
    </div><!--/row-->
