<style type="text/css">
body  {
  font-family:Arial,Helvetica,sans-serif;
  font-size: 10px;
  vertical-align:middle;
  font-weight:normal
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 10px/100% 'Microsoft yahei',Arial, Helvetica, sans-serif;
  padding: .3em 1em .40em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.blue {
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.green {
  color: #e8f0de;
  border: solid 1px #538312;
  background: #64991e;
  background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
  background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.red {
  color: #faddde;
  border: solid 1px #980c10;
  background: #d81b21;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317)); 
  background: -moz-linear-gradient(top, #ed1c24, #aa1317); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317'); 
}
</style>

<div class="row-fluid">
  <div class="box">
    <div class="box-header">
    <h2><i class="icon-list-alt"></i><span class="break"></span>订单筛选</h2>
    <div class="box-icon">
      <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
      <a href="#" class="btn-close"><i class="icon-remove"></i></a>
    </div>
    </div>
    <div class="box-content">
    <div class="center" style="min-width: 310px; height: 40px; margin: 0 auto">
      <div class="controls" style="float:left;margin-left:30px;">
      <select id="select_platform">
        <option value="baidu" />百度
        <option value="meituan" />美团
        <option value="eleme" />饿了么
        <option value="koubei" />口碑
        <option value="all" />所有
      </select>
      </div>
      <div class="controls" style="float:left;margin-left:30px;">
      From: <input type="text" class="input-xlarge datepicker" id="date01" name="date_bgn" value="" />
      To: <input type="text" class="input-xlarge datepicker" id="date02"   name="date_end" value="" />
      <button id='query_order' type="submit" class="btn btn-primary">查询</button>
      </div>
    </div>
    </div>
  </div>
</div>

  <br>
  <span>有效订单: {{items_len}}</span>
  <br>
  <br>
<div class="row-fluid">
  <div class="box span12">
    <div class="box-header">
    <h2><i class="icon-align-justify"></i><span class="break"></span>所有订单</h2>
    <div class="box-icon">
      <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
      <a href="#" class="btn-close"><i class="icon-remove"></i></a>
    </div>
    </div>
    <div class="box-content">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>时间</th>
            <th>客户名称</th>
            <th>地址</th>
            <th>订单备注</th>
            <th>订单详情</th>
            <th>状态</th>
          </tr>
        </thead>
        <tbody>
          {{#each items}}
          <tr orderID='{{order_id}}'>
            <td class="center" style="width:10%">{{order_time}}</td>
            <td class="center" style="width:10%">{{user_name}}</td>
            <td class="center" style="width:20%">{{addr}}</td>
            <td class="center" style="width:15%" >{{comment}}</td>
            <td class="center" style="width:20%" >{{menu_list}}</td>
            <td class="center order_status" style="width:20%" st='{{order_time}}' status='{{current_status}}'><div class='progressAnimate' id="progressbar"></div></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div><!--/span-->
</div><!--/row-->
<script type="text/javascript">
  $(".order_status").each(function() {
    var tm = $(this).attr("st");
    var startTime = Date.parse(tm);
    var nowTime = (new Date()).getTime();
    var pastTime = parseInt((nowTime - startTime) / (1000 * 60));
    var color = '#18D73E';
    if (pastTime <= 30) {
    } else if (pastTime > 30) {
      color = '#08BAE7'
    } else if (pastTime > 60) {
      color = '#0834E7'
    } else if (pastTime > 90) {
    color = '#D718B0'
    } else if (pastTime > 120) {
      color = '#EE0000'
    } else {
      color = '#777777'
    }
    $(this).css('background-color', color);
    $("#progressbar").progressbar({value:39});
    $(this).children( "#progressbar" ).progressbar({
      value: pastTime
    });
  });
  var platform = "{{platform}}";
  var bdate = "{{bdate}}";
  var edate = "{{edate}}";

  var cur_url = '/all_order/' + platform + "/";
  cur_url += bdate + "/" + edate;

  $('#select_platform').val(platform);
  $('#select_platform').change(function() {
    platform = $('#select_platform').val();
    var url = '/all_order/' + platform + "/";

    var bdate = $('#date01').val();
    var edate = $('#date02').val();

    url += bdate + "/" + edate;
    window.location.href = url;
    });

$('#query_order').click(function(){
  platform = $('#select_platform').val();
  var url = '/all_order/' + platform + "/";

  var d1 = $('#date01').val();
  var d2 = $('#date02').val();
  if( d1 == "" && d2 == "" ) {
  var d = new Date();
  var mon = (d.getMonth()+1);
  if( mon < 10 ) {
  mon = "0" + mon;
  }
  var bdate = d.getFullYear() + '-' + mon + '-' + d.getDate();
  var edate = bdate;
  url += bdate + "/" + edate;
  } else {
  if( d1 < d2 ) {
  var bdate = "";
  var edate = "";
  var myarr1 = d1.split("/");
  bdate = myarr1[2] + "-" + myarr1[0] + "-" + myarr1[1]; 
  var myarr2 = d2.split("/");
  edate = myarr2[2] + "-" + myarr2[0] + "-" + myarr2[1];
  url += bdate + "/" + edate;
  } else {
    var bdate = "";
    var myarr1 = d1.split("/");
    bdate = myarr1[2] + "-" + myarr1[0] + "-" + myarr1[1]; 
    var edate = bdate;
    url += bdate + "/" + edate;
  }
  }
  alert(url)
    window.location.href = url;
});


$(function () {
  var bdate = "{{bdate}}";
  var edate = "{{edate}}";
  $('#date01').val(bdate);
  $('#date02').val(edate);

  });


function  OnSending(order_id, status) {
  $.ajax({
type: "GET",
async: false,
url: "/show_post_user_list/" + order_id + "/" + status,
success: function(msg) {
//alert(msg);
OpenWindow = window.open("", "juzhu_post_users", "height=400, width=800, scrollbars=no,location=no,status=yes,toolbar=no,menubar=no,titlebar=no");
OpenWindow.document.write(msg);
}
});
}

function  OnUpdateStatus(order_id, status) {
  $.ajax({
type: "GET",
async: false,
url: "/update_user_post_tb/" + order_id + "/" + status,
success: function(msg) {
alert("订单状态设置成功");
window.location.href = cur_url;
}
});
}

function EditComment(td_id) {
  var cur_text = $('#'+td_id).text();

  $('#'+td_id).html("<input id='edit_comment' onblur='addOrderComment()' type=text value='" + cur_text + "'/>");
}

function addOrderComment() {
  var cur_text = $('#edit_comment').attr("value");
  var parentTD = $('#edit_comment').parent();
  $.post("/order_comment/" + $(parentTD).attr("id"), {"comment":cur_text}, function(ret, err) {
    if (err == 'success' && !(ret.error)) {
    $('#edit_comment').remove();
    $(parentTD).text(cur_text);
    alert("修改订单备注成功")
    } else {
    alert("修改订单备注失败")
    }
    }, 'json')
}
function cancelOrder(orderId) {
  $.get("/cancel_order/" + orderId, function(ret, err) {
    if (err == 'success' && !(ret.error)) {
    alert("操作成功");
    window.location.reload();
    }
    }, 'json')
}
</script>
