<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>聚箸</title>
    <link rel="stylesheet" href="./stylesheets/weui.css"/>
    <link rel="stylesheet" href="./stylesheets/example.css"/>
  </head>
  <body ontouchstart style="overflow-y:hidden ">
    <div class="container" id="container">
      <div class="weui_tab">
        <div class="weui_tab_bd" id="tb_container">
          <div class="bd">
            <div class="weui_panel weui_panel_access">
              <div class="weui_panel_hd">
                <div class="weui_panel_bd">
                  {{#if userInfo.point}}
                  <a href='/pointFAQ' class="weui_media_box weui_media_appmsg">
                    {{/if}}
                    {{^if userInfo.point}}
                    <a href="/addPhone" class="weui_media_box weui_media_appmsg">
                      {{/if}}
                      <div class="weui_media_hd">
                        <img class="weui_media_appmsg_thumb" src="{{userInfo.headImagUrl}}">
                      </div>
                      <div class="weui_media_bd">
                        <h4 class="weui_media_title">{{userInfo.nickName}}</h4>
                        {{#if userInfo.point}}
                        <p class="weui_media_desc">当前积分: {{userInfo.point}} 累计积分: {{userInfo.accumulate_point}}</p>
                        {{/if}}
                        {{^if userInfo.point}}
                        <p class="weui_media_desc" id=""><u>绑定手机号，查看积分</u></p>
                        {{/if}}

                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="weui_cells_title">我的外卖账户</div>
              <div class="weui_cells weui_cells_access">
                {{#userInfo}}
                {{#allPhone}}
                <a class="weui_cell" href="/point_record">
                  <div class="weui_cell_bd weui_cell_primary">
                    <p>{{phone}}</p>
                  </div>
                  <div class="weui_cell_ft">
                  </div>
                </a>
                {{/allPhone}}
                {{^allPhone}}
                <a class="weui_cell" href="/addPhone">
                  <div class="weui_cell_bd weui_cell_primary">
                    <p></p>
                  </div>
                  <div class="weui_cell_ft">
                    新增绑定
                  </div>
                </a>
                {{/allPhone}}

                <a class="weui_cell" href="/pointFAQ">
                  <div class="weui_cell_bd weui_cell_primary">
                    <p></p>
                  </div>
                  <div class="weui_cell_ft">
                    了解积分
                  </div>
                </a>
                {{/userInfo}}

                {{^if userInfo.point}}
                <div class="weui_media_box weui_media_text">
                  <h4 class="weui_media_title">绑定有什么用处</h4>
                  <p class="weui_media_desc">绑定之后可实时查看您通过以该手机号在各大外卖平台点餐聚箸的订单情况，以及每个订单产生的积分</p>
                  <ul class="weui_media_info">
                    <li class="weui_media_info_meta">聚箸</li>
                    <li class="weui_media_info_meta">2016-04-12</li>
                  </ul>
                </div>
                <div class="weui_media_box weui_media_text">
                  <h4 class="weui_media_title">积分有什么用处</h4>
                  <p class="weui_media_desc">累积聚箸积分可以兑换聚箸提供的小菜品，以及各种小礼品，以及在微信下单时候直接抵扣现金 </p>
                  <ul class="weui_media_info">
                    <li class="weui_media_info_meta">聚箸</li>
                    <li class="weui_media_info_meta">2016-04-12</li>
                  </ul>
                </div>
                {{/if}}
              </div>
            </div>

            <!----------- 我的订单 -->
            <div class="weui_cells weui_cells_access">
              <a class="weui_cell" href="/orderRecord">
                <div class="weui_cell_bd weui_cell_primary">
                  <p>我的订单</p>
                </div>
                <div class="weui_cell_ft">
                </div>
              </a>
            </div>
            <!----------- 兑换列表 -->
            <div class="weui_panel weui_panel_access">
              <div class="weui_panel_hd">积分商品</div>
              <div class="weui_panel_bd">
                {{#each jifenProd}}
                <a href="/jifen_prod_detail/{{prod_id}}" class="weui_media_box weui_media_appmsg">
                  <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="images/{{list_pic}}"   alt="">
                  </div>
                  <div class="weui_media_bd">
                    <h4 class="weui_media_title">{{prod_name}}</h4>
                    <p class="weui_media_desc">"{{material_info}}"</p>
                  </div>
                </a>
                {{/each}}
              </div>
              <a class="weui_panel_ft" href="javascript:void(0);">查看更多</a>
            </div>
            <!-- 兑换列表结束 -->
          </div>

          <div class="weui_tabbar">
            <a href="/menu_list" class="weui_tabbar_item weui_bar_item_on">
              <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_button.png" alt="">
              </div>
              <p class="weui_tabbar_label">点餐</p>
            </a>
            <a href="#/trolley" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_msg.png" alt="">
              </div>
              <p class="weui_tabbar_label">购物车</p>
            </a>
            <a href="#/" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_article.png" alt="">
              </div>
              <p class="weui_tabbar_label">积分</p>
            </a>
            <a href="#/shopList" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_cell.png" alt="">
              </div>
              <p class="weui_tabbar_label">我</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <script type="text/html" id="tpl_add_phone">
      <div class="weui_cells">
        <div class="weui_cell weui_cell_select weui_select_before">
          <div class="weui_cell_hd">
            <select class="weui_select" name="select2">
              <option value="1">+86</option>
            </select>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="number" pattern="[0-9]*" placeholder="请输入号码">
          </div>
        </div>
      </div>
    </script>

    <script src="./javascripts/zepto.min.js"></script>
    <script src="./javascripts/router.min.js"></script>
    <script src="./javascripts/example.js"></script>
    <!--<script src="./javascripts/example.js"></script> -->
  </body>
</html>
