<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>聚箸</title>
    <link rel="stylesheet" href="./stylesheets/weui.css"/>
    <link rel="stylesheet" href="./stylesheets/example.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>
  <body ontouchstart style="overflow-y:hidden ">
    <div class="container" id="container">
      <div class="weui_tab">
        <div class="weui_tab_bd" id="tb_container">
          <div class="bd">
            <div class="weui_panel weui_panel_access">
              <div class="weui_panel_hd">
                <div class="weui_panel_bd">
                  {{#if userInfo.phone}}
                  <a href='/pointFAQ' class="weui_media_box weui_media_appmsg">
                  {{/if}}
                  {{^if userInfo.phone}}
                    <a href="/addPhone/mine" class="weui_media_box weui_media_appmsg">
                  {{/if}}
                      <div class="weui_media_hd">
                        <img class="weui_media_appmsg_thumb" src="{{userInfo.headImagUrl}}">
                      </div>
                      <div class="weui_media_bd">
                        <h4 class="weui_media_title">{{userInfo.nickName}}</h4>
                        {{#if userInfo.point}}
                        <p class="weui_media_desc">当前积分: {{userInfo.point}} 累计积分: {{userInfo.accumulate_point}}</p>
                        {{/if}}
                        {{^if userInfo.point}}
                        <p class="weui_media_desc" id="">还没有积分</p>
                        {{/if}}

                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="weui_cells_title">我的外卖账户</div>
              <div class="weui_cells weui_cells_access">
                {{#userInfo}}
                {{#if phone}}
                <a class="weui_cell" href="/point_record">
                  <div class="weui_cell_bd weui_cell_primary">
                    <p>{{phone}}</p>
                  </div>
                  <div class="weui_cell_ft">
                  </div>
                </a>
                {{/if}}
                {{^if phone}}
                <a class="weui_cell" href="/addPhone/mine">
                  <div class="weui_cell_bd weui_cell_primary">
                    <p></p>
                  </div>
                  <div class="weui_cell_ft">
                    新增绑定
                  </div>
                </a>
                {{/if}}

                <a class="weui_cell" href="/pointFAQ">
                  <div class="weui_cell_bd weui_cell_primary">
                    <p></p>
                  </div>
                  <div class="weui_cell_ft">
                    了解积分
                  </div>
                </a>
                {{/userInfo}}

                {{^if userInfo.phone}}
                <div class="weui_media_box weui_media_text">
                  <h4 class="weui_media_title">绑定有什么用处</h4>
                  <p class="weui_media_desc">绑定之后可实时查看您通过以该手机号在各大外卖平台点餐聚箸的订单情况，以及每个订单产生的积分</p>
                  <ul class="weui_media_info">
                    <li class="weui_media_info_meta">聚箸</li>
                    <li class="weui_media_info_meta">2016-04-12</li>
                  </ul>
                </div>
                <div class="weui_media_box weui_media_text">
                  <h4 class="weui_media_title">积分有什么用处</h4>
                  <p class="weui_media_desc">累积聚箸积分可以兑换聚箸提供的小菜品，以及各种小礼品，以及在微信下单时候直接抵扣现金 </p>
                  <ul class="weui_media_info">
                    <li class="weui_media_info_meta">聚箸</li>
                    <li class="weui_media_info_meta">2016-04-12</li>
                  </ul>
                </div>
                {{/if}}
              </div>
            </div>

            <!----------- 我的订单 -->
            <div class="weui_cells weui_cells_access">
              <a class="weui_cell" href="/orders">
                <div class="weui_cell_bd weui_cell_primary">
                  <p>我的订单</p>
                </div>
                <div class="weui_cell_ft">
                </div>
              </a>
            </div>

            <div class="weui_cells">
              <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                  <p>饭票余额</p>
                </div>
                <div class="weui_cell_ft">{{fanPiaoInfo.cur_amount}} 元</div>
              </div>
            </div>
            <div class="weui_panel weui_panel_access">
              <div class="weui_panel_hd">饭票充值</div>
              <div class="weui_panel_bd">
                <div class="weui_grids">
                  {{#each fanPiaoConfig}}
                  <a href="javascript:buyFanPiao({{pay_amount}}, {{buy_amount}})" class="weui_grid">
                    <div class="weui_grid_icon">
                      <i class="icon icon_button">{{pay_amount}}</i>
                    </div>
                    <p class="weui_grid_label">
                    饭票{{buy_amount}}元
                    </p>
                  </a>
                  {{/each}}
                </div>
              </div>
              <a class="weui_panel_ft" href="javascript:void(0);">更多优惠</a>
            </div>
          </div>
          <div class="weui_tabbar">
            <a href="/menu_list" class="weui_tabbar_item weui_bar_item_on">
              <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_button.png" alt="">
              </div>
              <p class="weui_tabbar_label">点餐</p>
            </a>
            <a href="/shop_cart" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_msg.png" alt="">
              </div>
              <p class="weui_tabbar_label">购物车</p>
            </a>
            <a href="/orders" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_article.png" alt="">
              </div>
              <p class="weui_tabbar_label">订单</p>
            </a>
            <a href="/mine" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_cell.png" alt="">
              </div>
              <p class="weui_tabbar_label">我</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <script type="text/html" id="tpl_add_phone">
      <div class="weui_cells">
        <div class="weui_cell weui_cell_select weui_select_before">
          <div class="weui_cell_hd">
            <select class="weui_select" name="select2">
              <option value="1">+86</option>
            </select>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="number" pattern="[0-9]*" placeholder="请输入号码">
          </div>
        </div>
      </div>
    </script>

    <script type="text/javascript">

      function buyFanPiao(payAmount, buyAmount) {
        alert("buy:" + buyAmount + " pay:" + payAmount);
        $.get("/buy_fanpiao/" + payAmount + "/" + buyAmount, function(data, err) {
          if (err == 'success' && !data.error) {
          alert(JSON.stringify(data));
          onBridgeReady(data);
          } else if (err == "success") {
          alert(data.error_msg);
          } else {
          alert(err);
          }
          });

      }
function onBridgeReady(request) {
  if (typeof WeixinJSBridge !== "undefined"){
    WeixinJSBridge.invoke('getBrandWCPayRequest', request, function(res){
      // alert(JSON.stringify(res));
      if(res.err_msg == "get_brand_wcpay_request:ok" ) {
      // alert("pay success");
      $(".clear_cart").trigger("click");
      window.location.href='/mine';
      }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
      });
  } else {
    alert("error WeixinJSBridge")
  }
}
</script>
  </body>
</html>
