<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>聚箸</title>
    <link rel="stylesheet" href="/stylesheets/weui.css"/>
    <link rel="stylesheet" href="/stylesheets/juzhu_shop.css"/>
    <link rel="stylesheet" href="/stylesheets/example.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>
  <body style="overflow-y:hidden">
    <div class="container" id="container">
      <div class='tabbar'>
        <div class="weui_tab">
          <div class="weui_tab_bd">
            <div class='menu_list_body'>
              {{#each menu_data}}
              <div class="weui_cells_title">{{type}}</div>
              <div class="weui_cells">
                {{#each menu_list}}
                <div class="weui_cell">
                  <div class="weui_cell_bd weui_cell_primary" >
                    <p>{{prod_name}}</p>
                  </div>
                  <div class="weui_cell_ft" prodId='{{prod_id}}' prodName='{{prod_name}}' prodPrice='{{price}}'><a class='prod-price'>￥{{price}}</a><a class='juzhu_icon sub-food j-add-inner' style="visibility:hidden"></a><a class="juzhu_icon dish_num j-add-inner" style="visibility:hidden">0</a><a class='juzhu_icon add-food j-add-inner'></a></div>
                </div>
                {{/each}}
              </div>
              {{/each}}
            </div>
          </div>
          <div class="weui_tabbar">
            <a href="/menu_list" class="weui_tabbar_item weui_bar_item_on">
              <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_button.png" alt="">
              </div>
              <p class="weui_tabbar_label">点餐</p>
            </a>
            <a href="/shop_cart" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_msg.png" alt="">
              </div>
              <p class="weui_tabbar_label" id='shopcart'>购物车</p>
            </a>
            <a href="/orders" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_article.png" alt="">
              </div>
              <p class="weui_tabbar_label">订单</p>
            </a>
            <a href="/mine" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_cell.png" alt="">
              </div>
              <p class="weui_tabbar_label">我</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script type='text/javascript'>
      var user_order_menu = {};

$(".add-food").click(function() {
  var num = parseInt($(this).prev().text());
  var prodName = $(this).parent().attr("prodName");
  var prodPrice = $(this).parent().attr("prodPrice");
  addOneDish(prodName, prodPrice);
  num = num + 1;
  $(this).prev().text(num);
  $(this).prev().css({visibility:"visible"});
  $(this).prev().prev().css({visibility:"visible"});

  var img = $(this);
  var imgToClone = $(this).parent().prev().find("p");
  var flyElm = imgToClone.clone().css('opacity', 0.75);
  $('body').append(flyElm);
  // 要拿到目标和源的距离
  var source_point = [img.offset().top - 30, img.offset().left - 60];
  var dest_point = [$('#shopcart').offset().top -15, $('#shopcart').offset().left + 30];

  var daurtion = Math.sqrt((dest_point[0]-source_point[0]) * (dest_point[0]-source_point[0]) + (dest_point[0]-source_point[1]) * (dest_point[0]-source_point[1]));
  var dt = (daurtion / 500) * 800;
  // alert(daurtion + ", " + dt + " " + daurtion/dt);
  flyElm.css({
    'z-index': 9000,
    'display': 'block',
    'position': 'absolute',
    'top': img.offset().top +'px',
    'left': img.offset().left +'px',
    'width': imgToClone.width() +'px',
    'height': imgToClone.height() +'px'
    });
  flyElm.animate({
    top: img.offset().top - 30,
    left: img.offset().left - 60,
    width: imgToClone.width(),
    height: imgToClone.width(),
    }, "fast", function() {
    flyElm.animate({
      top: $('#shopcart').offset().top -15,
      left: $('#shopcart').offset().left + 30,
      width: imgToClone.width(),
      height: imgToClone.width(),
    }, dt, function() {
    flyElm.animate({ opacity: 'hide' }, "300", function() {
        flyElm.remove();
      });
    });
  });
});

$(".sub-food").click(function() {
  var num = parseInt($(this).next().text());
  var prodName = $(this).parent().attr("prodName");
  var prodPrice = $(this).parent().attr("prodPrice");
  removOneDish(prodName);
  num = num - 1;
  if (num <= 0) {
  $(this).css({visibility:"hidden"});
  $(this).next().css({visibility:"hidden"});
  num = 0;
  }
  $(this).next().text(num)
  });
function addOneDish(dishName, dishPrice) {
  var dishInfo = user_order_menu[dishName];
  if (dishInfo === undefined) {
    dishInfo = {};
    dishInfo.dishName = dishName;
    dishInfo.dishPrice = dishPrice;
    dishInfo.num = 1;
  } else {
    dishInfo.num += 1;
  }
  user_order_menu[dishName] = dishInfo;
  localStorage.userOrderInfo = JSON.stringify(user_order_menu);
  sessionStorage.setItem("shopCart", JSON.stringify(user_order_menu));
  // alert(JSON.stringify(user_order_menu));
}

function removOneDish(dishName) {
  var dishInfo = user_order_menu[dishName];
  if (dishInfo !== undefined) {
    dishInfo.num -= 1;
    if (dishInfo.num <= 0) {
      delete user_order_menu[dishName];
    } else {
      user_order_menu[dishName] = dishInfo;
    }
    localStorage.userOrderInfo = JSON.stringify(user_order_menu);
    sessionStorage.setItem("shopCart", JSON.stringify(user_order_menu));
  }
  // alert(JSON.stringify(user_order_menu));
}

$(document).ready(function() {
  user_order_menu = localStorage.userOrderInfo;

  if (user_order_menu !== undefined) {
  user_order_menu = JSON.parse(user_order_menu);
  for(index in user_order_menu) {
  dishInit = user_order_menu[index];
  dishName = dishInit.dishName;
  dishNum = dishInit.num;
  if (dishName === undefined) {
  // 缓存数据是不对的
  delete localStorage.userOrderInfo;
  user_order_menu = {};
  break
  }
  $("[prodName='" + dishName + "']").find(".dish_num").text(dishNum);
  if (dishNum > 0) {
  $("[prodName='" + dishName + "']").find(".sub-food").css({visibility:"visible"});
  $("[prodName='" + dishName + "']").find(".dish_num").css({visibility:"visible"});
  }
  }
  } else {
  user_order_menu = {};
  }
  })
</script>
  </body>
</html>

