<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>聚箸</title>
    <link rel="stylesheet" href="./stylesheets/weui.css"/>
    <link rel="stylesheet" href="./stylesheets/example.css"/>
  </head>
  <body ontouchstart>
    <div class="container" id="container">
      <div class="weui_media_box weui_media_text">
        <h4 class="weui_media_title">绑定有什么用处</h4>
        <p class="weui_media_desc">绑定之后可实时查看您通过以该手机号在各大外卖平台点餐聚箸的订单情况，以及每个订单产生的积分</p>
        <ul class="weui_media_info">
          <li class="weui_media_info_meta">聚箸</li>
          <li class="weui_media_info_meta">2016-04-12</li>
        </ul>
      </div>
      <div class="weui_media_box weui_media_text">
        <h4 class="weui_media_title">积分有什么用处</h4>
        <p class="weui_media_desc">累积聚箸积分可以兑换聚箸提供的小菜品，以及各种小礼品，以及在微信下单时候直接抵扣现金 </p>
        <ul class="weui_media_info">
          <li class="weui_media_info_meta">聚箸</li>
          <li class="weui_media_info_meta">2016-04-12</li>
        </ul>
      </div>

    </body>
  </html>
