.juzhu_banner {
  margin-bottom: 8px;
  margin-top : 10px;
  width: 100%;
  height : 200px;
}

.juzhu_banner img {
  display : block;
  height : 100%;
  width : 100%;
}

.jifen_prod_detail {
  margin-left : 10px;
  margin-right: 10px;
}
.jifen_prod_title {
  color: #3f4349;
  font-size: 1.2rem;
}

.jifen_prod_info {
  font-size: 0;
  color: #999;
  letter-spacing: 1px;
}

.info_sale {
  display: inline-block;
  font-size: 0.8rem;
}
.info-evaluate {
  margin-left: 1.5rem;
  font-size: 15px;
}
.info_price {
  margin-top: 1.0rem;
  font-size: 0;
}
.info_price_new {
  color: #ff2846;
  font-size: 1.0rem;
}
.info_price_old {
  font-size: 0.7rem;
  color: #999;
  margin-left: .8rem;
}

.btn_pos {
  margin : 10px 0px 10px 0px;
}
.prod_info_section {
  margin-bottom :15px;
}

.prod_info_title_line {
  height:0px;
  border-top:1px solid gray;
  width : 100%;
}
.prod_info_title_name {
  width : 100%;
  text-align:center;
  font-size:12;
  color:#999;
  margin-bottom:1px;
}

.prod_info_content {
  margin-top:20px;
  color: #3f4349;
  font-size: 13px;
  line-height: 1.2;
}

.choose_info {
  margin-top : 5px;
  width : 100%;
  height :2rem;
}
.choose_info_text {
  float : left;
  font-size:1.0rem;
  width : 40%;
  height : 1.8rem;
  line-height : 1.8rem;
  margin-right : 5px;
}

.choose_btn {
  margin : 1px;
  float : right;
  width : 40%;
  height : 1.8rem;
}
.choose_btn button {
  float : right;
  height : 1.8rem;
  width : 1.2rem;
}
.prod_input {
  float : right;
  height : 1.8rem;
  width : 3rem;
  text-align : center;
  font-size : 1rem;
}

.choose_result_text {
  float : left;
  font-size:1.0rem;
  width : 40%;
}
.choose_result {
  float : right;
  margin-left : 5px;
  border-bottom : 1px solid gray;
  font-size : 1.0rem;
  width : 5.4rem;
  text-align : center;
}
.add-food {
  width: 25px;
  height: 25px;
  background-position: -15px 0;
}
.sub-food {
  width: 25px;
  height: 25px;
  background-position: -15px -28;
}
.dish_num {
  width: 25px;
  font-size : 1rem;
  width: 25px;
  height: 25px;
  text-align: center;
  background-position: -15px -80;
}
.juzhu_icon {
  background-image: url("http://xs01.meituan.net/waimai_i/img/sprite/icon.311cb29a.png");
  background-size: 150px 350px;
  display: inline-block;
}
.prod-price {
  margin-right:50px;
}
.btn_comfirm {
  margin-top:10px;
  margin-bottom:30px;
}

.cart_num {
  font-size : 0.7rem;
  margin-right:40px;
}
.dish_total_amount {
  display:inline-block;
  min-width:45px
}
.empty_cart {
  width : 100%
  margin-top:50px;
  margin-bottom:30px;
  text-align: center;
}
.clear_cart {
  display:inline-block;
  float:right
}

.btn_repay {
  float:right
}

.btn_rebuy {
  float:right
}

.order_item {
  margin-bottom:5px;
}
.price_info {
  display:inline-block;
  float:right;
  min-width:50px;
  text-align:right;
}
.num_info {
  display:inline-block;
  float:right;
  margin-right:10px;
}
.gray_info {
  font-size:0.8rem;
  color:gray;
}
.gray_phone_info {
  font-size:0.8rem;
  color:gray;
}

#get_code {
  display:inline-block;
  float:right;
}

.verify_input {
  margin-left:15px;
}
.gray_info_modify {
  font-size:0.8rem;
  color:gray;
}

#editUserInfo {
  height:1.5rem;
}
.no_orders {
  text-align:center;
  color:gray;
  font-size:1.0rem;
}
